.button {
    padding: 12px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(60, 0, 74, 0.5);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    outline: none;
}