.button {
    padding: 12px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(60, 0, 74, 0.5);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

@media (max-width:640px) {
    .button {
        display: block;
        width: 100%;
        align-items: center;
    }
}